.chat-container {
  display: flex;
}

.chat-list {
  width: 30%;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.chat-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-list li {
  cursor: pointer;
  padding: 5px;
  list-style: none;
}

.chat-list h2 {
  margin-bottom: 10px;
}

.chat-messages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-messages li {
  margin-bottom: 5px;
  list-style-type: none;
}

.chat-list li.selected {
  background-color: #eee;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-messages h2 {
  margin-bottom: 10px;
}

.chat-messages .messages-container {
  height: 550px;
  overflow-y: scroll;
}

.chat-messages .messages-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-messages .message-bubble {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.chat-messages .own-message {
  text-align: right;
  margin-right: 10px;
}

.chat-messages .message-bubble:not(.own-message-bubble) {
  background-color: #87ceeb;
}

.chat-messages .own-message-bubble {
  background-color: #c7edfc;
}

.chat-messages .message-time {
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
}

.message-input {
  margin-top: 10px;
}

.message-input input {
  width: 70%;
  padding: 5px;
  margin-right: 5px;
}

.message-input button {
  padding: 5px 10px;
}
