<div class="chat-container">
  <div class="chat-list">
    <h2>Список чатов</h2>
    <ul>
      <li *ngFor="let userChat of userChats" (click)="selectChat(userChat.id)" [class.selected]="userChat.id === chatId">
        {{getOtherUserName(userChat, currentUser)}}
      </li>
    </ul>
  </div>
  <div class="chat-messages">
    <h2>Чат</h2>
    <div *ngIf="chat">
      <ul>
        <li *ngFor="let message of chat.messages">
          <span class="message-time">{{ message.date }}</span>
          <span class="message-text">{{ message.text }}</span><br>
          <span class="message-sender">{{ message.sender.username }}</span>
        </li>
      </ul>
    </div>
    <div *ngIf="!chat">
      <p>Выберите чат из списка</p>
    </div>
    <div *ngIf="chat">
    <div class="message-input">
      <input type="text" [(ngModel)]="message" placeholder="Введите сообщение">
      <button (click)="sendMessage()">Отправить</button>
    </div>
    </div>
  </div>
</div>
