<div class="profile">
  <div class="profile-header">
    <img [src]="" alt="Profile Photo" class="profile-photo">
    <h1 class="username">{{ username }}</h1>
    <p class="about">{{ about }}</p>
    <div class="followers">
      <span class="count">Followers: <span class="followers-count">{{ amountOfFollowers }}</span></span>
      <span class="count">Following: <span class="following-count">{{ amountOfFollowing }}</span></span>
    </div>
  </div>

  <!--<div class="posts">
    <div class="post" *ngFor="let post of posts">
      <div class="post-header">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-date">{{ post.date }}</p>
        <button class="comments-toggle" (click)="toggleComments(post)">Показать комментарии</button>
      </div>
      <div class="post-content">
        <div *ngIf="post.photo" class="post-photo">
          <img [src]="post.photo" alt="Post Photo">
        </div>
        <p class="post-text">{{ post.text }}</p>
        <p class="post-likes">Лайков: {{ post.likes }}</p>
        <div class="post-comments" *ngIf="post.showComments">
          <h3>Комментарии:</h3>
          <ul>
            <li *ngFor="let comment of post.comments">{{ comment }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>-->
