.profile {
  max-width: 100%;
  text-align: center;
}

.profile h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tabs button {
  background-color: #f5f5f5;
  color: #333;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.tabs button:hover {
  background-color: #e0e0e0;
}

.tab-content {
  margin-top: 20px;
}

.subscription-container,
.follower-container {
  width: 60%;
  margin: auto;
}

.subscription-item,
.follower-item {

  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.subscription-item:hover,
.follower-item:hover {
  background-color: #e0e0e0;
}

.subscription-item img,
.follower-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.subscription-info,
.follower-info {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-info h3,
.follower-info h3 {
  font-size: 16px;
  flex-grow: 1;

}

.subscription-info p,
.follower-info p {
  font-size: 14px;
  margin: 0;
}

.subscription-info button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
