<div class="subscriptions">
  <h1>Подписки пользователя {{user.username}}</h1>

  <div class="tabs">
    <button [ngClass]="{ 'active': selectedTab === 'following' }" (click)="selectedTab = 'following'">Подписки</button>
    <button [ngClass]="{ 'active': selectedTab === 'followers' }" (click)="selectedTab = 'followers'">Подписчики</button>
  </div>


  <div class="user-list">
    <div *ngIf="selectedTab === 'following'">
      <div *ngFor="let user of following" class="user" (click)="navigateToUserPage(user.id)">
        <img *ngIf="user.hasPhoto" [src]="getImageUrl(user.image)" alt="Фото пользователя">
        <p>{{ user.username }}</p>
        <button *ngIf="isSubscribed(user.id) && ownerPage" (click)="unsubscribe(user); $event.stopPropagation()" class="unsubscribe-button">Отписаться</button>
      </div>
    </div>
    <div *ngIf="selectedTab === 'followers'">
      <div *ngFor="let user of followers" class="user" (click)="navigateToUserPage(user.id)">
        <img *ngIf="user.hasPhoto" [src]="getImageUrl(user.image)" alt="Фото пользователя">
        <p>{{ user.username }}</p>
        <button *ngIf="!isSubscribed(user.id) && ownerPage" (click)="subscribe(user); $event.stopPropagation()" class="subscribe-button">Подписаться</button>
        <button *ngIf="isSubscribed(user.id) && ownerPage" (click)="unsubscribe(user); $event.stopPropagation()" class="unsubscribe-button">Отписаться</button>

      </div>
    </div>
  </div>
</div>
